body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffe4e1;
}
h1,h2,h3{
    color: palevioletred;
    font-style: italic;
}
.mens{
    color: white;
    border-radius: 8px;
    background-color: #87f5a4b9;
    padding: 2px;
}
header{
    border-bottom: 2px pink solid;
    padding-left: 50px;
    padding-right: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.logo{
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-right: 40px;
}
.itemHead{
    font-weight: bold;
    margin-left: 30px;
}
.menu{
    width: 80%;
    text-align: right;
    padding-top: 60px;
}
a{
    text-decoration: none;
    color: palevioletred;
    font-weight: bold;
}
.presentacion{
    margin-top: 40px;
    display: flex;
    color: rgb(224, 155, 178);
}
.mensaje{
    text-align: justify;
    padding: 18px;
}
.tituloMensaje{
    text-align: center;
    font-size: 45px;
    border-bottom: 3px pink solid;
}
.pMensaje{
    font-size: 22px;
}
.tituloContacto{
    text-align: center;
    font-size: 30px;
    border-bottom: 3px pink solid;
}
.pContacto{
    font-size: 22px;
    color: palevioletred;
}
.pastel{
    box-shadow: 10px 10px 25px #999;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    margin-right: 20px;
    margin-left: 8px;
}
.formuEnc{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.cont{
    float: left;
    width: 43%;
    padding: 10px;
}
.tituloFormu{
    font-size: 30px;
    border-bottom: 3px pink solid;
}
form{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
input[type=text],
input[type=email],
 textarea{
    background-color: #ffe4e1;
    border: none;
    border-bottom:2px pink solid;
    border-right:2px pink solid;
    color: palevioletred;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    height: 18px;
    font-size: 18px;
}
textarea {
    resize: none;
  }
label{
    font-size: 22px;
    color: palevioletred;
}
.formSec{
    float: left;
    width: 35%;
}
.formP{
    float: left;
    width: 32%;
}
.tituloFormuP{
    font-size: 22px;
    border-bottom: 3px pink solid;
}
input[type=checkbox]{
	width: 16px;
	height: 16px;
	background: #fff;
	border-radius: 50%;
	-webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
	box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
}
button{
    background-color: #b0c2f2;
    border: #b0c2f2;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    width: 150px;
    height: 50px;
    padding: auto;
    margin-top: 20px;
}
.contM{
    margin-top: 30px;
    width: 300px;
}